<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haikou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FoodDetail"
            android:theme="@style/FoodDetailTheme">
        </activity>
        <activity android:name=".SceneDetail"
            android:theme="@style/SceneDetailTheme">
        </activity>
        <activity android:name=".FoodMain">
        </activity>
        <activity android:name=".SceneMain">
        </activity>
        <activity android:name=".ShopMain">
        </activity>
        <activity android:name=".ShopDetail"
            android:theme="@style/ShopDetailTheme">
        </activity>
        <activity android:name=".AmuseMain">
        </activity>
        <activity android:name=".AmuseDetail"
            android:theme="@style/AmuseDetailTheme">
        </activity>
        <activity android:name=".ApartmentMain">
        </activity>
        <activity android:name=".ApartmentDetail"
            android:theme="@style/ApartmentDetailTheme">
        </activity>
        <activity android:name=".HospitalDetail"
            android:theme="@style/HosptialDetailTheme">
        </activity>
        <activity android:name=".HospitalMain">
        </activity>
        <activity android:name=".WebViewActivity">
        </activity>

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/LauncherActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

    </application>

</manifest>